* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: poppins;
}

.big-section-gap {
    padding-bottom: 8rem;
}

.small-section-gap {
    padding-bottom: 4rem;
}

/* standard-text */
.section-title {
    font-size: 3.5rem;
    padding-bottom: 4rem;
}

.standard-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    row-gap: 3rem;
    column-gap: 3rem;
}

.standard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.standard-item-title {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;

    max-width: 100%;
}

.standard-item-paragraph {
    font-size: 1rem;
    max-width: 80%;
}

.hamburger {}

.navbar {
    display: none;
}

.hero-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

/* metric-container */
.metric-container {
    align-items: flex-start;
}

.metric-item {
    height: fit-content;
    width: 14rem;
    justify-content: flex-start;
    align-items: center;
}

.metric-item-image {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: center;
}

.metric-item-title {}

.metric-item-paragraph {}

/* project-container */
.project-container {}

.project-item {
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px #FC5185;
    transition: box-shadow 0.2s linear;
    /* transition: outline-offset 0.2s linear; */
    border-radius: .5rem;
}

.project-image {
    object-fit: cover;
    vertical-align: middle;
    width: 24rem;
    border-radius: .5rem;
}

.project-title {
    width: 100%;
}

.project-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 3px #ff00f2;
    /* outline-offset: -3px #ff00f2; */
}

/* main-team-container */
.main-team-container {}

.main-team-item {
    width: 18rem;
    height: fit-content;
}

.main-team-image {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
}

.main-team-title {
    font-size: 2rem;
}

.main-team-paragraph {
    font-size: 1.2rem;
}

/* team-container */
.team-container {}

.team-item {
    width: 15rem;
    height: fit-content;
}

.team-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

.team-title {}

.team-paragraph {}

/* popup */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.popup-content {
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
}

.popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-popup-button {
    margin: 0.5rem;
}

.close-popup-button:hover {
    cursor: pointer;
}

/* footer */
footer {}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.footer-paragraph {
    font-size: 1.25rem;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    width: 3rem;
    margin: 0 1rem;
}

.social-icon:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.1);
    transition: transform 0.1s ease-in-out;
}

/* PORTRAIT MODE */
/* (max-width: 1030px) { */
@media (max-aspect-ratio: 9/16) {

    .standard-flex-container {
        padding: 0 2rem;
    }

    .standard-item-title {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 3rem;
        font-weight: bold;
    }

    .standard-item-paragraph {
        font-size: 2rem;
        max-width: 80%;
    }

    .metric-container {
        row-gap: 4rem;
        column-gap: 4rem;
    }

    .metric-item-image {
        width: 7rem;
        height: 7rem;
    }

    .metric-item-title {
        font-size: 3.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }



    .project-image {
        border-radius: .5rem;
        object-fit: cover;
        display: block;
        width: 100%;
    }

    .main-team-item {
        width: 12rem;
    }

    .main-team-image {
        width: 12rem;
        height: 12rem;
    }

    .main-team-title {
        font-size: 2rem;
    }

    .main-team-paragraph {
        font-size: 1rem;
    }

    .team-image {
        width: 10.4rem;
        height: 10.4rem;
    }

    .team-title {
        font-size: 1.5rem;
    }

    .team-paragraph {
        font-size: 0.8rem;
    }

    .footer-container {
        flex-direction: column-reverse;
        row-gap: 3rem;
        padding-bottom: 3rem;
    }

    .social-icon {
        width: 6rem;
        margin: 1rem 2rem;
    }

    .footer-paragraph {
        font-size: 1.5rem;
    }
}