@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --Light: #1ebcef;
  --Dark: #082234;
  --Dark2: #084b7c;
  --Dark-Transparent: #1f1f26bf;
}

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Inter", sans-serif;
  transition: 0.25s ease-out;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

#project-section,
#main-team-section,
#team-section,
#section-zahvalnost-profesorima,
#section-zahvalnost,
#section-partneri {
  padding: 0 8.5%;
  padding-top: 80px;
}

/* STANDARD */

h1 {
  font-size: 32px;
  padding-bottom: 40px;
}

h2 {
  color: var(--Light);
  font-size: 18px;
  margin-bottom: 12px;
  letter-spacing: 3.2px;
}

#hero {
  background-color: var(--Light);
  background-position: center;
  width: 100%;
  height: 844px;

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35px;

    position: absolute;
    width: 35%;
    height: 130px;
    left: 220px;
    top: 340px;

    .hero-h1 {
      all: none;

      font-weight: 800;
      font-size: 62px;
      line-height: 75px;

      leading-trim: both;
      text-edge: cap;

      color: #ffffff;

      @media (max-width: 768px) {
        font-size: 40.3091px;
        line-height: 49px;
      }
    }

    .hero-h2 {
      all: none;

      font-weight: 500;
      font-size: 25.5931px;
      line-height: 34px;

      text-align: justify;

      color: #ffffff;

      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  & img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 940.48px;
    max-width: 50%;

    @media (max-width: 768px) {
      max-width: 90%;
    }
  }
}

#project-section {
  margin-top: 40px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;

    .item {
      width: 330px;
      height: 320px;
      display: flex;
      flex-direction: column;

      border-radius: 20px;
      padding: 15px;
      padding-bottom: 5px;

      overflow: hidden;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
      transition: box-shadow 0.5s linear;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px 5px #00d9ff7e;

        .image {
          transform: scale(1.05) translate(0, -1.6px);
        }

        & h3 {
          color: var(--Light);
          transform: scale(1.05) translate(0, 1.6px);
        }
      }

      .image {
        width: 300px;
        height: 210px;
        border-radius: 10px;
        object-fit: cover;
        vertical-align: middle;
      }

      & h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 300px;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}

#main-team-section {
  background-color: #edf7ff;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 48px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px){
      gap: 0;
      justify-content: space-evenly;
    }

    .item {
      width: 330px;
      height: 410px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-items: center;

      @media (max-width: 768px) {
        width: 115px;
        height: 142.52px;
      }

      .image {
        width: 330px;
        height: 230px;
        background-color: #20bdef;
        border-bottom: var(--Dark) solid 2.4px;
        object-fit: cover;
        object-position: center;

        @media (max-width: 768px) {
          width: 115px;
          height: 80.91px;
        }
      }

      .description {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
          width: 115px;
          height: 45.59px;
        }

        & h3 {
          font-size: 28px;
          padding-bottom: 5.28px;
          color: var(--Light);

          @media (max-width: 768px) {
            font-size: 12px;
          }
        }

        & h4 {
          font-size: 14.4px;
          color: var(--Dark-Transparent);

          @media (max-width: 768px) {
            font-size: 6px;
          }
        }
      }
    }
  }
}

#team-section {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 70px;

    .item {
      width: 300px;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 14px;
      overflow: hidden;

      @media (max-width: 768px) {
        width: 110px;
        height: 130px;
      }

      .image {
        width: 300px;
        height: 250px;
        background: linear-gradient(180deg, #f3f3f3 0%, #dbdbdb 100%);
        border-bottom: var(--Light) solid 2.4px;
        object-fit: cover;
        object-position: center;

        @media (max-width: 768px) {
          width: 111.35px;
          height: 95.37px;
        }
      }

      .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        row-gap: 2px;

        @media (max-width: 768px) {
          width: 111.35px;
          height: 36.09px;
        }

        & h3 {
          font-weight: 600;
          font-size: 24.9312px;

          text-align: center;

          color: var(--Dark);
          @media (max-width: 768px) {
            font-size: 8.78061px;
          }
        }

        & h4 {
          font-weight: 400;
          font-size: 13.8507px;

          text-align: center;
          text-transform: uppercase;
          color: var(--Dark-Transparent);

          @media (max-width: 768px) {
            font-size: 4.10205px;
          }
        }
      }
    }
  }
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;

      .close-button {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#section-zahvalnost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    color: rgba(8, 34, 52, 0.8);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;

    & b {
      color: var(--Light);
    }
  }
}

#section-partneri {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gallery {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 74px;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 768px) {
      column-gap: 15px;
    }

    & img {
      max-width: 200px;
      max-height: 80px;

      @media (max-width: 768px) {
        max-width: 100px;
      }
    }
  }
}

footer {
  margin-top: 235px;
  padding: 0 8.5%;

  .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 48px;
    padding-bottom: 32px;

    @media (max-width: 768px) {
      padding: 0;
      flex-direction: column;
      row-gap: 60px;
      margin-bottom: 60px;
    }

    .icon-irc {
      width: 240px;
      height: 72px;

      @media (max-width: 768px) {
        width: 270px;
        height: auto;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    .social-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & img {
        width: 25px;
        height: 25px;
        margin: 0 16px;

        &:hover {
          cursor: pointer;
          transform: rotate(5deg) scale(1.1);
        }
      }
    }
  }

  & hr {
    border-color: var(--Light);
  }

  & p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Dark);
    margin-top: 18px;
    margin-bottom: 18px;
    font-weight: 500;
  }
}

/* MOBILE */

@media (max-aspect-ratio: 9/16) {
}
