:root {
  --Light: #1ebcef;
  --Dark: #082234;
  --Dark2: #084b7c;
  --Dark-Transparent: #1f1f26bf;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

footer,
#project-section,
#main-team-section,
#team-section,
#zahvalnost-section-profesorima,
#zahvalnost-section,
#pertneri-section {
  padding: 0 8.5%;
  padding-top: 80px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;

  @media (max-width: 575.98px) {
    font-size: 24px;
  }
}

h2 {
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: var(--Light);

  @media (max-width: 575.98px) {
    font-size: 14px;
  }
}

.font-break {
  display: none;

  @media (max-width: 767.98px) {
    display: block;
  }
}

hr {
  border-color: var(--Light);
}

/* --------------------------------------------------- */

header {
  position: fixed;
  background-color: #1da1ff;
  width: 100%;
  z-index: 19;
  overflow: hidden;
  transition: 0s;
  border-radius: 0 0 2% 2%;

}

header a {
  font-size: 16px;
  font-weight: 400;

  color: #ffffffcc;
}

header a:hover {
  color: white;
  text-shadow: 0 0 20px #fff;
}

#header-logo {
  z-index: 10;
  width: 200px;
  margin-right: 64px;

  @media (max-width: 767.98px) {
    width: 40%;
  }

}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px 8.5%;
}

#header-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  @media (max-width: 767.98px) {
    display: none;
  }
}

#header-menu2 {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 32px;
  z-index: 2;
  background-color: transparent;
  background-color: white;
  overflow: hidden;

  @media (max-width: 767.98px) {
    padding-top: 50px;
  }

  & a {
    font-weight: 600;
    font-size: 25px;
    height: 48px;
    color: #082234cc;

    @media (max-width: 767.98px) {
      font-size: 15px;
      height: 20px;
    }
  }

  & a:hover {
    color: #082234;
    text-shadow: 0 0 20px #082234;
  }

  @media (max-width: 767.98px) {
    display: none;
  }
}

#header-hamburger-icon {
  z-index: 6;

  display: none;
  width: 32px;
  height: auto;

  @media (max-width: 767.98px) {
    display: flex;
    width: 8%;
  }
}

/* --------------------------------------------------- */

#hero-section {
  width: 100%;
  max-height: 90vh;
  height: 50vw;
  background-image: url("img/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding-left: 15px;
  transition: 0s;

  padding-top: 10px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
    min-height: 700px;
    padding-top: 30%;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40%;

  @media (max-width: 767.98px) {
    max-width: 80%;
  }
}

.hero-title {
  font-size: 4vw;
  font-weight: 800;
  color: #ffffff;
  transition: 0s;
  padding-bottom: inherit;

  @media (max-width: 767.98px) {
    font-size: 250%;
    line-height: 3.25rem;
    padding-bottom: 5%;
  }
}

.hero-subtitle {
  font-size: 2vw;
  font-weight: 500;
  color: #ffffff;
  transition: 0s;

  @media (max-width: 767.98px) {
    font-size: 125%;
  }
}

.hero-metric-img {
  max-width: 50%;
  align-self: flex-end;
  margin-bottom: -3%;

  transition: 0s;

  @media (max-width: 767.98px) {
    max-width: 95%;
    margin-bottom: -20px;
  }

}

/* --------------------------------------------------- */

#project-section {
  margin-top: 40px;

  @media (max-width: 767.98px) {
    margin-top: 80px;
    padding: 2.5%;
  }

  @media (max-width: 575.98px) {
    margin-top: 60px;
  }

}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 40px;

  @media (max-width: 767.98px) {
    row-gap: 8px;
    column-gap: 2.5%;
  }

}

.project-item {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  aspect-ratio: 43/40;
  padding: 1.25%;
  padding-bottom: 0.25%;
  transition: box-shadow 0.5s linear;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);

  @media (max-width: 767.98px) {
    width: 46%;
    aspect-ratio: 4/4;
    padding-bottom: 2%;
  }

}

.project-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px #00d9ff7e;

  .project-image {
    transform: scale(1.05) translate(0, -1.6px);
  }

  .project-title {
    transform: scale(1.05) translate(0, 1.6px);
    color: var(--Light);
  }
}

.project-image {
  width: 100%;
  aspect-ratio: 3/2;
  vertical-align: middle;
  border-radius: 5px;
  object-fit: cover;
}

.project-title {
  font-size: 110%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;

  @media (max-width: 767.98px) {
    font-size: 90%;
  }

  @media (max-width: 300px) {
    font-size: 55%;
  }
}

/* --------------------------------------------------- */

#main-team-section {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #edf7ff;

  @media (max-width: 767.98px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: 767.98px) {
    gap: 10px;
  }

}

.main-team-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 320px;
  aspect-ratio: 3/4;
  background-color: white;

  @media (max-width: 767.98px) {
    max-width: 28%;
  }
}

.main-team-image {
  width: 100%;
  aspect-ratio: 1/.8;
  background-color: black;
  border-bottom: var(--Dark);
}

.main-team-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 2;
  padding: 5px;
}

.main-team-name {
  font-weight: 600;
  font-size: 180%;
  padding-bottom: 5.28px;
  color: var(--Light);

  @media (max-width: 767.98px) {
    font-size: 14px;
  }
}

.main-team-position {
  font-weight: 300;
  color: var(--Dark-Transparent);
  font-size: 80%;

  @media (max-width: 767.98px) {
    font-size: 7px;
  }
}

/* --------------------------------------------------- */

#team-section {
  padding-left: 2.5%;
  padding-right: 2.5%;

  @media (max-width: 767.98px) {
    padding-top: 20%;
  }
}

.team-container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 30px;

  @media (max-width: 767.98px) {
    row-gap: 10px;
    column-gap: 10px;
  }

}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  aspect-ratio: 3/4;

  @media (max-width: 767.98px) {
    width: 20%;
  }

}

.team-image {
  width: 100%;
  aspect-ratio: 3/2.3;
  background: linear-gradient(180deg, #f3f3f3 0%, #dbdbdb 100%);
  border-bottom: var(--Light);
}

.team-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  row-gap: 2px;

  @media (max-width: 767.98px) {}

}

.team-name {
  font-size: 140%;
  font-weight: 600;
  color: var(--Dark);
  width: 100%;

  @media (max-width: 767.98px) {
    font-size: 9px;
  }
}

.team-position {
  font-size: 100%;
  font-weight: 400;
  color: var(--Dark-Transparent);
  text-transform: uppercase;
  max-width: 100%;

  @media (max-width: 767.98px) {
    font-size: 7px;
  }
}

/* --------------------------------------------------- */

.popup {
  justify-content: center;
  align-items: center;

  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup-container {
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: 75%;
  background: white;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

}

.popup-close-button {
  width: 100%;
  background-color: black;
}

.popup-close-button:hover {
}

/* --------------------------------------------------- */

#zahvalnost-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#zahvalnost-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  color: rgba(8, 34, 52, 0.8);

  @media (max-width: 767.98px) {
    font-size: 15px;
    line-height: 24px;
  }
}

#zahvalnost-section b {
  color: var(--Light);
}

/* --------------------------------------------------- */

#pertneri-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.partneri-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 16px;
  column-gap: 80px;
  row-gap: 70px;

  @media (max-width: 767.98px) {
    column-gap: 15px;
  }
}

.partneri-img {
  max-width: 200px;
  max-height: 80px;

  @media (max-width: 767.98px) {
    max-width: 90px;
  }
}

/* --------------------------------------------------- */

footer {
  margin-top: 40px;


}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
  padding-bottom: 32px;

  @media (max-width: 767.98px) {
    flex-direction: column;

    padding: 0;
    margin-bottom: 40px;
    row-gap: 40px;
  }

}

.icon-irc {
  width: 240px;
  height: 72px;

  @media (max-width: 767.98px) {
    width: 180px;
    height: auto;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    width: 20px;
    height: 20px;
    margin: 0 16px;



    &:hover {
      cursor: pointer;
      transform: rotate(5deg) scale(1.1);
    }
  }
}

footer p {
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 18px;
  color: var(--Dark);

  @media (max-width: 767.98px) {
    font-size: 12.8px;
  }
}