:root {
  --Light: #1ebcef;
  --Dark: #082234;
  --Dark2: #084b7c;
  --Dark-Transparent: #1f1f26bf;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

footer,
#project-section,
#main-team-section,
#team-section,
#section-zahvalnost-profesorima,
#section-zahvalnost,
#section-partneri {
  padding: 0 8.5%;
  padding-top: 80px;
}

h1 {
  font-size: 32px;
  padding-bottom: 40px;
  font-weight: 600;

  @media (max-width: 575.98px){
  	font-size: 24px;
  }
}

h2 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: var(--Light);

  @media (max-width: 575.98px){
  	font-size: 14px;
  }
}

header {
  position: absolute;
  width: 100%;
  z-index: 19;
  overflow: hidden;
  transition: 0s;
  border-radius: 0 0 2% 2%;

  & a {
    font-size: 16px;
    font-weight: 400;

    color: #ffffffcc;
  }

  & a:hover {
    color: white;
    text-shadow: 0 0 20px #fff;
  }

  #logo {
    z-index: 10;
    width: 200px;
    margin-right: 64px;

    @media (max-width: 767.98px) {
      width: 50%;
    }
  }

  & nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px 8.5%;

    #menu {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;

      @media (max-width: 767.98px) {
        display: none;
      }
    }


  }

  #menu2 {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 32px;
    z-index: 2;
    background-color: transparent;
    background-color: white;
    overflow: hidden;

    @media (max-width: 767.98px) {
      padding-top: 50px;
    }

    & a {
      font-weight: 600;
      font-size: 25px;
      height: 48px;
      color: #082234cc;

      @media (max-width: 767.98px) {
        font-size: 15px;
        height: 20px;
      }
    }

    & a:hover {
      color: #082234;
      text-shadow: 0 0 20px #082234;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  #hamburger {
    z-index: 6;

    display: none;
    width: 32px;
    height: auto;

    @media (max-width: 767.98px) {
      display: flex;
      width: 10%;
    }
  }
}

#hero {
  width: 100%;
  max-height: 90vh;
  height: 50vw;
  background-image: url("img/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding-left: 15px;
  transition: 0s;

  padding-top: 10px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
    min-height: 700px;
    padding-top: 30%;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40%;

    @media (max-width: 767.98px) {
      max-width: 80%;
    }

    .hero-h1 {
      font-size: 4vw;
      font-weight: 800;
      color: #ffffff;
      transition: 0s;

      @media (max-width: 767.98px) {
        font-size: 300%;
      }
    }

    .hero-h2 {
      font-size: 2vw;
      font-weight: 500;
      color: #ffffff;
      transition: 0s;

      @media (max-width: 767.98px) {
        font-size: 150%;
      }
    }
  }

  & img {
    max-width: 50%;
    align-self: flex-end;
    margin-bottom: -3%;

    transition: 0s;

    @media (max-width: 767.98px) {
      max-width: 95%;
      margin-bottom: -20px;
    }

  }
}

#project-section {
  margin-top: 40px;

  @media (max-width: 767.98px) {
    margin-top: 80px;
    padding: 5%;
  }

  @media (max-width: 575.98px){
  	margin-top: 60px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;

    @media (max-width: 767.98px) {
      row-gap: 40px;
      column-gap: 5%;
    }

    .item {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      aspect-ratio: 43/40;
      padding: 2%;
      padding-bottom: 0.25%;
      transition: box-shadow 0.5s linear;
      border-radius: 20px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);

      @media (max-width: 767.98px) {
        width: 46%;
        aspect-ratio: 4/4;
        padding-bottom: 2%;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px 5px #00d9ff7e;

        .image {
          transform: scale(1.05) translate(0, -1.6px);
        }

        & h3 {
          transform: scale(1.05) translate(0, 1.6px);
          color: var(--Light);
        }
      }

      .image {
        width: 100%;
        aspect-ratio: 3/2;
        vertical-align: middle;
        border-radius: 10px;
        object-fit: cover;

        @media (max-width: 767.98px) {}
      }

      & h3 {
        font-size: 110%;
        font-weight: 600;
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        width: 100%;

        @media (max-width: 767.98px) {
          font-size: 90%;
        }

        @media (max-width: 300px) {
          font-size: 65%;
        }
      }
    }
  }
}

#main-team-section {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #edf7ff;

  @media (max-width: 767.98px) {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @media (max-width: 767.98px) {
      align-items: center;
      flex-direction: column;
      gap: 50px;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      width: 320px;
      aspect-ratio: 3/4;
      background-color: white;

      @media (max-width: 767.98px) {
        max-width: 60%;
      }

      .image {
        width: 100%;
        aspect-ratio: 3/2.3;
        background-color: black;
        border-bottom: var(--Dark);
      }

      .description {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: 5px;

        & h3 {
          font-weight: 600;
          max-width: 100%;
          font-size: 28.2864px;
          padding-bottom: 5.28px;
          color: var(--Light);

          @media (max-width: 767.98px) {
            font-size: 180%;
          }
          @media (max-width: 575.98px){
            font-size: 140%;
          }
        }

        & h4 {
          font-weight: 300;
          max-width: 100%;
          color: var(--Dark-Transparent);
          font-size: 14px;

          @media (max-width: 767.98px) {
            font-size: 80%;
          }@media (max-width: 575.98px){
          	font-size: 60%;
          }
        }
      }
    }
  }
}

#team-section {
  .container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 30px;

    @media (max-width: 767.98px) {
      row-gap: 25px;
      column-gap: 20px;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      aspect-ratio: 3/3.5;

      @media (max-width: 767.98px) {
        width: 43%;
      }

      .image {
        width: 100%;
        aspect-ratio: 3/2.3;
        background: linear-gradient(180deg, #f3f3f3 0%, #dbdbdb 100%);
        border-bottom: var(--Light);
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        row-gap: 2px;

        @media (max-width: 767.98px) {}

        & h3 {
          font-size: 25.9312px;
          font-weight: 600;
          color: var(--Dark);
          width: 100%;

          @media (max-width: 767.98px) {
            font-size: 15px;
          }
        }

        & h4 {
          font-size: 14px;
          font-weight: 400;
          color: var(--Dark-Transparent);

          @media (max-width: 767.98px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;

      .close-button {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#section-zahvalnost {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: rgba(8, 34, 52, 0.8);

    & b {
      color: var(--Light);
    }

    @media (max-width: 767.98px) {
      font-size: 15px;
      line-height: 24px;
    }
  }
}

#section-partneri {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 16px;
    column-gap: 80px;
    row-gap: 70px;

    @media (max-width: 767.98px) {
      column-gap: 15px;
    }

    & img {
      max-width: 200px;
      max-height: 80px;

      @media (max-width: 767.98px) {
        max-width: 90px;
      }
    }
  }
}

footer {
  margin-top: 235px;

  @media (max-width: 767.98px) {
    margin-top: 100px;
  }

  .section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 48px;
    padding-bottom: 32px;

    @media (max-width: 767.98px) {
      flex-direction: column;

      padding: 0;
      margin-bottom: 40px;
      row-gap: 40px;
    }

    .icon-irc {
      width: 240px;
      height: 72px;

      @media (max-width: 767.98px) {
        width: 180px;
        height: auto;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    .social-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & img {
        width: 15px;
        height: 15px;
        margin: 0 16px;



        &:hover {
          cursor: pointer;
          transform: rotate(5deg) scale(1.1);
        }
      }
    }
  }

  & hr {
    border-color: var(--Light);
  }

  & p {
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 18px;
    margin-bottom: 18px;
    color: var(--Dark);

    @media (max-width: 767.98px) {
      font-size: 12.8px;
    }
  }
}