:root {
  --Light: #1ebcef;
  --Dark: #082234;
  --Dark2: #084b7c;
  --Dark-Transparent: #1f1f26bf;

  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 21px;
  --h4-font-size: 18px;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-out;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

footer,
#project-section,
#main-team-section,
#team-section,
#zahvalnost-section-profesorima,
#zahvalnost-section,
#pertneri-section {
  padding: 0 8.5%;
  padding-top: 80px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 6px;
}

h2 {
  font-size: 18px;
  padding-bottom: 40px;
  font-weight: 400;
  letter-spacing: 3.2px;
  color: var(--Light);
}

.font-break {
  display: none;
}

hr {
  border-color: var(--Light);
  width: 80vw;
  margin: auto;
  margin-bottom: 2.5rem;
}

header {
  position: fixed;
  width: 100%;
  z-index: 50;
  overflow: hidden;
  transition: 0s;
  border-radius: 0 0 2% 2%;
}

.transparent-header {
  background-color: rgba(29, 161, 255, 0);
  /* Same color as #1da1ff, but transparent */
  transition: background-color 0.5s ease-in-out;
  /* Adjust the time as needed */
}


header a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffffcc;
}

header a:hover {
  color: white;
  text-shadow: 0 0 20px #fff;
}

#header-logo {
  z-index: 10;
  width: 200px;
  margin-right: 64px;
}

header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 8.5%;
}

#header-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

#header-menu2 {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 32px;
  z-index: 2;
  background-color: transparent;
  background-color: white;
  overflow: hidden;
}

#header-menu2 a {
  font-weight: 600;
  font-size: 25px;
  height: 48px;
  color: #082234cc;
}

#header-hamburger-icon {
  z-index: 6;
  display: none;
  width: 32px;
  height: auto;
}

#hero-section {
  background-image: url("img/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
  max-height: 90vh;
  height: 50vw;
  gap: 40px;
  padding-left: 15px;
  transition: 0s;
  padding-top: 10px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40%;
}

.hero-title {
  font-size: 4vw;
  font-weight: 800;
  color: #ffffff;
  transition: 0s;
  padding-bottom: inherit;
}

.hero-subtitle {
  font-size: 2vw;
  font-weight: 500;
  color: #ffffff;
  transition: 0s;
}

.hero-metric-img {
  width: 45vw;
  align-self: flex-end;
  margin-bottom: -7vw;
  transition: 0s;
}

#project-section {
  margin-top: 40px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 40px;
}

.project-item {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  aspect-ratio: 43/40;
  padding: 1.25%;
  padding-bottom: 0.25%;
  transition: box-shadow 0.5s linear;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.project-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px #00d9ff7e;
}

.project-item:hover .project-image {
  transform: scale(1.05) translate(0, -1.6px);
}

.project-item:hover .project-title {
  transform: scale(1.05) translate(0, 1.6px);
  color: var(--Light);
}

.project-image {
  width: 100%;
  aspect-ratio: 3/2;
  vertical-align: middle;
  border-radius: 5px;
  object-fit: cover;
  position: relative;
}

.project-info-image {
  height: 30px;
  width: 30px;
  position: absolute;
  float: left;
  right: 0;
  top: 0;
  display: none;
}

.project-title {
  font-size: 110%;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

#main-team-section {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: #edf7ff;
}

.main-team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

}

.main-team-item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 320px;
  background-color: white;
}

.main-team-image {
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
  border-bottom: var(--Dark);
}

.main-team-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  flex-grow: 2;
  padding: 20px 5px;
}

.main-team-name {
  font-weight: 600;
  font-size: 180%;
  padding-bottom: 5.28px;
  color: var(--Light);
}

.main-team-position {
  font-weight: 300;
  color: var(--Dark-Transparent);
  font-size: 80%;
}

#team-section {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.team-container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 30px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  aspect-ratio: 3/4;
}

.team-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  background: linear-gradient(180deg, #f3f3f3 0%, #dbdbdb 100%);
  border-bottom: var(--Light);
}

.team-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  row-gap: 2px;
}

.team-name {
  font-size: 140%;
  font-weight: 600;
  color: var(--Dark);
  width: 100%;
}

.team-position {
  font-size: 100%;
  font-weight: 400;
  color: var(--Dark-Transparent);
  text-transform: uppercase;
  max-width: 100%;
}

.popup {
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.popup-container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: white;
  overflow: auto;

  padding: 2%;
  max-width: 95%;
  max-height: 95%;
}

.popup-dim {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0s;
}

.popup-close-button-holder {
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: end;
}

.popup-close-button-image {
  width: 2vw;
  height: 2vw;
  padding: 0.01vw;
}

.popup-close-button-image:hover {
  opacity: 0.55;
  cursor: pointer;
}

.popup-title {
  font-size: var(--h1-font-size);
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5vw;
}

.popup-subtitle {
  font-size: var(--h2-font-size);
  font-weight: 600;
  text-align: left;
  margin-bottom: 2vw;
}

.popup-paragraph {
  font-size: var(--h4-font-size);
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 40px;
}

.popup-metrics-container {
  margin-bottom: 20px;
  display: flex;
  gap: 2%;
  height: fit-content;
  justify-content: space-evenly;
}

.popup-metric-item {
  border: dashed;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  gap: 10px;
  min-height: 100%;
}

.popup-metric-title {
  font-size: var(--h3-font-size);
  font-weight: 600;
  line-height: 22px;
  width: 100%;
  text-align: center;
  color: var(--Dark);
  justify-self: start;
}

.popup-metric-image {
  height: 75px;
  align-self: center;
  justify-self: center;
}

.popup-metric-value {
  font-size: var(--h2-font-size);
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--Dark);
  justify-self: end;
}

.popup-container-partneri {
  margin-bottom: 20px;
}

.popup-title-partneri {
  font-size: var(--h2-font-size);
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.popup-partner {
  font-size: var(--h3-font-size);
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}

.popup-partner b {
  color: var(--Light);
}

.popup-button-procitaj-vise {
  font-weight: 400;
  text-align: center;
  align-self: flex-end;
  border-color: transparent;
  width: fit-content;
  color: white;
  padding: 1.25%;
  font-size: var(--h3-font-size);
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
}

.popup-button-procitaj-vise:hover {
  cursor: pointer;
  opacity: 0.75;
}

#zahvalnost-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#zahvalnost-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  color: rgba(8, 34, 52, 0.8);
}

#zahvalnost-section b {
  color: var(--Light);
}


#pertneri-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.partneri-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 16px;
  column-gap: 80px;
  row-gap: 70px;
}

.partneri-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 200px;
  max-height: 100px;
}

.partneri-img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

footer {
  margin-top: 40px;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
  padding-bottom: 32px;

}

.icon-irc {
  width: 240px;
  height: 72px;
}

.icon-irc:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 16px;
}

.social-icons img:hover {
  cursor: pointer;
  transform: rotate(5deg) scale(1.1);
}

footer p {
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 18px;
  margin-bottom: 18px;
  color: var(--Dark);
}

@keyframes pop {
  50% {
    transform: scale(1.075) translateY(1px);
  }
}

.pop {
  animation: pop 3s infinite;
}