@media (max-width: 900px) {

    .font-break {
        display: block;
    }

    #header-logo {
        width: 40%;
    }

    #header-menu {
        display: none;
    }


    #header-menu2 {
        padding-top: 50px;
    }

    #header-menu2 a {
        font-size: 15px;
        height: 20px;
    }

    #header-menu2 a:hover {
        color: #082234;
        text-shadow: 0 0 20px #082234;
    }

    #header-hamburger-icon {
        display: flex;
        width: 8%;
    }

    #hero-section {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        min-height: 700px;
        padding-top: 50vw;
    }

    .hero-text {
        max-width: 80%;
    }

    .hero-title {
        font-size: 250%;
        line-height: 3.25rem;
        padding-bottom: 5%;
    }

    .hero-subtitle {
        font-size: 125%;
    }

    .hero-metric-img {
        width: 90vw;
        margin-bottom: -20px;
    }

    #project-section {
        margin-top: 150px;
        padding: 2.5%;
    }

    .project-container {
        row-gap: 8px;
        column-gap: 2.5%;
    }

    .project-item {
        width: 45%;
        aspect-ratio: 1;
        padding-bottom: 2%;
        padding: 2.5%;
    }

    .project-title {
        font-size: 90%;
    }

    #main-team-section {
        padding-left: 0;
        padding-right: 0;
    }

    .main-team-container {
        gap: 10px;
    }

    .main-team-item {
        max-width: 28%;
    }

    .main-team-description {
        padding: 10px 5px;
    }

    .main-team-name {
        font-size: 14px;
    }

    .main-team-position {
        font-size: 7px;
    }

    #team-section {
        padding-top: 20%;
    }

    .team-container {
        row-gap: 10px;
        column-gap: 10px;
    }

    .team-item {
        width: 20%;
    }

    .team-name {
        font-size: 12px;
        padding-top: 0.25rem;
    }

    .team-position {
        font-size: 10px;
    }

    .popup-container {
        padding: 5vw;
        max-width: 95vw;
    }

    .popup-close-button-image {
        width: 5vw;
        height: 5vw;
    }

    .popup-title {
        font-size: 20px;
    }

    .popup-subtitle {
        font-size: 16px;
    }

    .popup-paragraph {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 4vw;
    }

    .popup-metric-title {
        font-size: 16px;
    }

    .popup-metric-image {
        max-height: 30px;
    }

    .popup-metric-value {
        font-size: 18px;
    }

    .popup-title-partneri {
        font-size: 20px;
    }

    .popup-partner {
        font-size: 14px;
    }

    .popup-button-procitaj-vise {
        font-size: 14px;
        padding: 2%;
    }

    #zahvalnost-section p {
        font-size: 15px;
        line-height: 24px;
    }

    .partneri-container {
        column-gap: 30px;
        row-gap: 50px;
    }

    .partneri-img {
        max-width: 100px;
        max-height: 50px;
    }

    .section-1 {
        flex-direction: column;
        padding: 0;
        margin-bottom: 40px;
        row-gap: 40px;
    }

    .icon-irc {
        width: 180px;
        height: auto;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
    }

    footer p {
        font-size: 12.8px;
    }
}







@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }

    #hero-section {
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        min-height: 700px;
        padding-top: 30vw;
    }

    .hero-metric-img {
        max-width: 95%;
    }

    #project-section {
        margin-top: 60px;
    }

    .project-title {
        font-size: 75%;
    }

    .team-name {
        font-size: 9px;
    }

    .team-position {
        font-size: 5.8px;
    }

}